.header {
  height: 34vw;
  margin: 30px auto;
  background: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  max-width: 50%;
  gap: 1.5vw;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-size: max(4.5vw, 22px);
  color: #fff;
  font-weight: 500;
}

.header-contents p {
  font-size: 1vw;
  color: #fff;
}

.header-contents button {
  background: #fff;
  border: 0;
  outline: 0;
  padding: 1vw 2.3vw;
  border-radius: 50px;
  font-size: max(1vw, 13px);
  font-weight: 500;
  color: #747474;
  cursor: pointer;
}

@media (max-width:1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width:750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p{
    display: none;
  }
  .header-contents button{
    padding: 2vw 4vw;
  }
}